@{
    ViewData["Title"] = "Dashboard";
}


<div class="text-center m-5 p-5">
    <h1>Welcome! You're signed in!</h1>
    <a asp-controller="Home" asp-action="Logout" class="m-3"><button class="btn btn-warning">Logout</button></a>
</div>
